{% extends 'base.html'%} 
{% load static %}

{% block content %}

<body>
    <section class="about-section text-center" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2 class="text-white mb-4">The Team</h2>
                    <p class="text-white-50">
                        This project was made by:
                    </p>
                </div>
            </div>
            <div class="row text-center">
                <div class="column">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                          <div class="flip-card-front">
                            <img src="{% static 'theme/assets/img/aksel.jpg' %}" alt="aksel" style="width:100%;height:100%;">
                          </div>
                          <div class="flip-card-back">
                            <h1 style = "padding-top: 3cm;">Aksel Mads Lien</h1>
                            <p>IKT og Maskinteknikk</p>
                            <p></p>
                          </div>
                        </div>
                      </div>
                </div>
              
                <div class="column">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                          <div class="flip-card-front">
                            <img src="{% static 'theme/assets/img/kasper.jpg' %}" alt="kasper" style="width:100%;height:100%;">
                          </div>
                          <div class="flip-card-back">
                            <h1 style = "padding-top: 3cm;">Kasper Kallseter</h1>
                            <p>IKT og Maskinteknikk</p>
                            <p></p>
                          </div>
                        </div>
                      </div>
                </div>
              
                <div class="column">
                  <div class="flip-card">
                    <div class="flip-card-inner">
                      <div class="flip-card-front">
                        <img src="{% static 'theme/assets/img/magnus.jpg' %}" alt="magnus" style="width:100%;height:100%;">
                      </div>
                      <div class="flip-card-back">
                        <h1 style = "padding-top: 3cm;">Magnus Myklegard</h1>
                        <p>IKT og Maskinteknikk</p>
                        <p></p>
                      </div>
                    </div>
                  </div>
              </div>
              <!--
            <img class="img-fluid" src="{% static 'theme/assets/img/aksel.jpg' %}" alt="" />
            <img class="img-fluid" src="{% static 'theme/assets/img/kasper.jpg' %}" alt="" />-->
            
        
        <div class="container text-white mb-4" >
            Testing
            
        </div>
    </div>
    </section>
    
    

   
</body>
{% endblock %}
 