{% extends 'base.html' %}
{% load static %}


{% block content %}
<header class="masthead">
    <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center">
        <h1 class="mx-auto my-0 text-uppercase">Ensemble Methods</h1>
            <h2 class="text-white-50 mx-auto mt-2 mb-5">TDT4173 NTNU </h2>
            {% url 'project' as project_url %}
            <a class="btn btn-primary js-scroll-trigger" href="{{project_url}}">Project</a>
        </div>
    </div>
  </header>
  <main>

{% endblock %}
